* {
  font-family: Roboto, sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #f6f8fc;
}

.content {
  height: 100%;
  width: 100vw;
  padding: 1rem;
  background-color: #fff;
  background-image: url("../images/pokeball2.png");
  background-repeat: no-repeat;
  background-size: 12rem;
  background-position: 100% -5%;
}

@media screen and (min-width: 992px) {
  .content {
    max-width: 992px;
    height: auto;
    margin: 1rem auto;
    border-radius: 1rem;
  }
}
