* {
  font-family: Roboto, sans-serif;
  box-sizing: border-box;
}

#headerTitle {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

#headerTitle .pokedexTitle {
  width: calc(4rem + 1.8vw);
}

body {
  background-color: #f6f8fc;
}

.content {
  height: 100vh;
  width: 100vw;
  padding: 0.5rem;
  background-color: #fff;
  background-image: url("../images/pokeball2.png");
  background-repeat: no-repeat;
  background-size: 12rem;
  background-position: 115% -4rem;
}

.content #loading {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content #loading img {
  height: 150px;
}

@media screen and (min-width: 992px) {
  .content {
    max-width: 992px;
    height: auto;
    margin: 1rem auto;
    border-radius: 1rem;
    background-position: 105% -4rem;
  }
}
