.pokemons {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr;
}

.pokemon {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
  padding: 1rem 1rem 0rem;
  color: #fff;
  border-radius: 1rem;
  box-shadow: 2px 2px #d3d3d3;
  cursor: pointer;
}

.pokemon .cardHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.pokemon .cardHeader .number {
  color: #fff;
  opacity: 0.5;
  text-align: end;
  font-size: 0.625rem;
}

.pokemon .cardHeader .name {
  color: #fff;
  text-transform: capitalize;
  font-weight: bold;
  font-size: 1rem;
}

.pokemon .detail {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.pokemon .detail .types {
  padding: 0;
  margin: 0;
  list-style: none;
}

.pokemon .detail .types .type {
  color: #fff;
  padding: 0.25rem 0.5rem;
  font-size: 0.6rem;
  margin: 0.5rem 0;
  border-radius: 1rem;
  filter: brightness(1.1);
  text-align: center;
  text-transform: capitalize;
}

.pokemons .detail img {
  max-width: 100%;
  height: 80px;
  align-self: flex-end;
}

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem;
}

.pagination button {
  background-color: #6c79db;
  border: none;
  border-radius: 1rem;
  color: #fff;
  padding: 0.25rem 0.5rem;
  font-size: 0.825rem;
  margin: 0.25rem 0;
  cursor: pointer;
}

@media screen and (min-width: 380px) {
  .pokemons {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 576px) {
  .pokemons {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 992px) {
  .pokemons {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
