.pokemons {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr;
}

.grass {
  background-color: #49d0b0;
}

.fire {
  background-color: #ff6265;
}

.water {
  background-color: #66b2f4;
}

.electric {
  background-color: #f7d233;
}

.normal {
  background-color: #bcbcaf;
}

.poison {
  background-color: #ca45c3;
}

.flying {
  background-color: #9e8fc5;
}

.bug {
  background-color: #84e245;
}

.ground {
  background-color: #dfbf60;
}

.ice {
  background-color: #73d1cf;
}

.rock {
  background-color: #b9a338;
}

.dragon {
  background-color: #8e55a8;
}

.dark {
  background-color: #725a4a;
}

.ghost {
  background-color: #71599a;
}

.fighting {
  background-color: #d84742;
}

.steel {
  background-color: #9090c9;
}

.fairy {
  background-color: #f88fbe;
}

.psychic {
  background-color: #d8527c;
}

.pokemon {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
  padding: 1rem 1rem 0rem;
  color: #fff;
  border-radius: 1rem;
  box-shadow: 2px 2px #d3d3d3;
  background-image: url(../images/pokeball2.png),
    linear-gradient(45deg, black, transparent);
  background-blend-mode: soft-light;
  background-repeat: no-repeat;
  background-size: 4.625rem, cover;
  background-position: 100% 100%;
  cursor: pointer;
}

.pokemon .cardHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.pokemon .cardHeader .number {
  color: #fff;
  opacity: 0.5;
  text-align: end;
  font-size: 0.625rem;
}

.pokemon .cardHeader .name {
  color: #fff;
  text-transform: capitalize;
  font-weight: bold;
  font-size: 1rem;
}

.pokemon .detail {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.pokemon .detail .types {
  padding: 0;
  margin: 0;
  list-style: none;
}

.pokemon .detail .types .type {
  color: #fff;
  padding: 0.25rem 0.5rem;
  font-size: 0.6rem;
  margin: 0.5rem 0;
  border-radius: 1rem;
  filter: brightness(1.1);
  text-align: center;
  text-transform: capitalize;
}

.pokemons .detail img {
  max-width: 100%;
  height: 80px;
  align-self: flex-end;
}

.modalPokemon {
  display: flex;
  justify-content: space-between;
  padding: 0.725rem;
}

.modalPokemon .name {
  display: flex;
  align-items: center;
  color: #fff;
  text-transform: capitalize;
  font-weight: bold;
  font-size: 1.7rem;
  justify-content: center;
}

.modalPokemon .number {
  display: flex;
  align-items: center;
  color: #fff;
  font-weight: bold;
  font-size: 1rem;
}

.modalPokemon .modalHeader {
  display: grid;
  align-items: center;
  justify-content: center;
}

.modalPokemon .modalHeader .modalOl {
  display: flex;
  list-style: none;
  margin: 0 auto;
  padding: 0;
}

.modalPokemon .modalHeader .modalOl .modalList {
  color: #fff;
  font-size: 0.7rem;
  padding: 0.2rem 0.725rem;
  margin: 0.5rem 0.3rem;
  border-radius: 1rem;
  filter: brightness(1.1);
  text-align: center;
  text-transform: capitalize;
}

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem;
}

.pagination button {
  background-color: #6c79db;
  border: none;
  border-radius: 1rem;
  color: #fff;
  padding: 0.25rem 0.5rem;
  font-size: 0.825rem;
  margin: 0.25rem 0;
  cursor: pointer;
}

@media screen and (min-width: 380px) {
  .pokemons {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 576px) {
  .pokemons {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 992px) {
  .pokemons {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
